//- В том файле подключаются все файлы данных и миксинов
//- Подключение файла выполняется с помощью строки include [путь к файлу];

include data/pages-list.pug

include mixins/header.pug
include mixins/footer.pug
