//- В том файле подключаются все файлы данных и миксинов
//- Подключение файла выполняется с помощью строки include [путь к файлу];

include data/pages-list.pug
include data/index-page.pug
include data/price-page.pug
include data/news-page.pug
include data/about-page.pug
include data/contacts-page.pug
include data/training-page.pug

include mixins/header.pug
include mixins/footer.pug
include mixins/section-list.pug
