extends ../pug/layout.pug

block meta
  title НордВест - Прайс
  meta(name='description', content='')

block header
  +header(pagesList, 2)

block content
  section.price
    h1.price__title.section-title Прайс-листы

    .price__tabs.tabs
      ul.tabs__links(role='tablist')
        li.tabs__link-wrap.tabs__link-wrap--active(role='presentation')
          a.tabs__link(href='#tab01', data-toggle='tab', role='tab') Услуги по ведению бухгалтерского и налогового учета
        li.tabs__link-wrap(role='presentation')
          a.tabs__link(href='#tab02', data-toggle='tab', role='tab') Индивидуальный расчет
        li.tabs__link-wrap(role='presentation')
          a.tabs__link(href='#tab03', data-toggle='tab', role='tab') Дополнительные услуги

      .tabs__content-wrapper
        .tabs__content-item.tabs__content-item--active.table-with-notes#tab01(role='tabpanel')
          p.table-with-notes__note Цены указаны за месяц
          table.table-with-notes__table
            thead
              tr.table-with-notes__table-row
                th.table-with-notes__table-data.table-with-notes__table-data--head(scope='col') Системы налогообложения
                th.table-with-notes__table-data.table-with-notes__table-data--head(scope='colgroup', colspan='4') Количество документов (приход-расход)
            tbody
              tr.table-with-notes__table-row
                th.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='col') ОСН, УСН (доходы-расходы)
                th.table-with-notes__table-data.table-with-notes__table-data--color(scope='col') до 20
                th.table-with-notes__table-data.table-with-notes__table-data--color(scope='col') от 21 до 50
                th.table-with-notes__table-data.table-with-notes__table-data--color(scope='col') от 51 до 100
                th.table-with-notes__table-data.table-with-notes__table-data--color(scope='col') от 101
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Бухгалтерское обслуживание (1 работник)
                td.table-with-notes__table-data 3000 &#8381;
                td.table-with-notes__table-data 5000 &#8381;
                td.table-with-notes__table-data 7000 &#8381;
                td.table-with-notes__table-data 10000 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Бухгалтерское обслуживание (до 5 работников)
                td.table-with-notes__table-data 5000 &#8381;
                td.table-with-notes__table-data 7000 &#8381;
                td.table-with-notes__table-data 10000 &#8381;
                td.table-with-notes__table-data 15000 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Бухгалтерское обслуживание (свыше 5 работников)
                td.table-with-notes__table-data 7000 &#8381;
                td.table-with-notes__table-data 10000 &#8381;
                td.table-with-notes__table-data 15000 &#8381;
                td.table-with-notes__table-data 18000 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data(colspan='5')
              tr.table-with-notes__table-row
                th.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='col') УСН (доходы), ЕНВД
                th.table-with-notes__table-data.table-with-notes__table-data--color(scope='col') до 20
                th.table-with-notes__table-data.table-with-notes__table-data--color(scope='col') от 21 до 50
                th.table-with-notes__table-data.table-with-notes__table-data--color(scope='col') от 51 до 100
                th.table-with-notes__table-data.table-with-notes__table-data--color(scope='col') от 101
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Бухгалтерское обслуживание (1 работник)
                td.table-with-notes__table-data 1500 &#8381;
                td.table-with-notes__table-data 3000 &#8381;
                td.table-with-notes__table-data 5000 &#8381;
                td.table-with-notes__table-data 7000 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Бухгалтерское обслуживание (до 5 работников)
                td.table-with-notes__table-data 4000 &#8381;
                td.table-with-notes__table-data 5000 &#8381;
                td.table-with-notes__table-data 7000 &#8381;
                td.table-with-notes__table-data 10000 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Бухгалтерское обслуживание (свыше 5 работников)
                td.table-with-notes__table-data 5000 &#8381;
                td.table-with-notes__table-data 7000 &#8381;
                td.table-with-notes__table-data 10000 &#8381;
                td.table-with-notes__table-data 15000 &#8381;
          p.table-with-notes__note.table-with-notes__note--big
            | Цены в прайсе являются базовыми.
            | Стоимость договора расчитывается индивидуально.
          ul.table-with-notes__note-list
            li Совмещение нескольких систем налогообложения (ЕНВД+ОСНО, ЕНВД+УСН) увеличивает стоимость услуг на 20%.
            li Наличие экспорта/импорта увеличивает стоимость услуг на 20%.
            li Ведение кадрового учёта в полном объеме увеличивает стоимость услуг на 25%.

        .tabs__content-item.table-with-notes#tab02(role='tabpanel')
          p.table-with-notes__note Цены указаны за месяц
          table.table-with-notes__table
            thead
              tr.table-with-notes__table-row
                th.table-with-notes__table-data.table-with-notes__table-data--head(scope='col') Вид услуги
                th.table-with-notes__table-data.table-with-notes__table-data--head(scope='col') Стоимость
            tbody
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Ведение 1 торговой точки на ЕНВД (касса, отчёты о розничных продажах)
                td.table-with-notes__table-data 2500 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Расчет заработной платы + отчёты до 3 сотрудников
                td.table-with-notes__table-data 1000 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--note Каждый последующий сотрудник
                td.table-with-notes__table-data.table-with-notes__table-data--note + 200 &#8381;/чел.
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Составление общих отчётов (НДС, прибыль, бухгалтерский баланс), консультации
                td.table-with-notes__table-data 1000 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Обработка документов поступление-/реализация  (правильность составления, внесение в программу и пр.)
                td.table-with-notes__table-data 100 &#8381;/документ
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--title.table-with-notes__table-data--color(scope='row') Внесение банковских выписок в программу (выгрузка)
                td.table-with-notes__table-data 500 &#8381;

        .tabs__content-item.table-with-notes#tab03(role='tabpanel')
          table.table-with-notes__table.table-with-notes__table--thin
            thead
              tr.table-with-notes__table-row
                th.table-with-notes__table-data.table-with-notes__table-data--head(colspan='2') Сдача нулевых отчетов
            tbody
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin ОСНО
                td.table-with-notes__table-data 3000 &#8381;/квартал
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin УСН
                td.table-with-notes__table-data 1500 &#8381;/квартал

          table.table-with-notes__table.table-with-notes__table--thin
            thead
              tr.table-with-notes__table-row
                th.table-with-notes__table-data.table-with-notes__table-data--head(colspan='2') Отправка вторых экземпляров актов, накладных поставщикам (покупателям) почтой
            tbody
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin простое письмо
                td.table-with-notes__table-data от 30 &#8381;/шт.
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin заказное письмо
                td.table-with-notes__table-data от 150 &#8381;/шт.

          table.table-with-notes__table.table-with-notes__table--thin
            thead
              tr.table-with-notes__table-row
                th.table-with-notes__table-data.table-with-notes__table-data--head(colspan='2') Консультационные услуги
            tbody
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin устная консультация
                td.table-with-notes__table-data 500 &#8381;/час
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin писменная консультация
                td.table-with-notes__table-data 2000 &#8381;/вопрос

          table.table-with-notes__table.table-with-notes__table--thin
            thead
              tr.table-with-notes__table-row
                th.table-with-notes__table-data.table-with-notes__table-data--head(colspan='2') Прочие услуги
            tbody
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Разовое заполнение декларации
                td.table-with-notes__table-data 400 &#8381;/шт.
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Отправка готовых деклараций (файлом) по ТКС
                td.table-with-notes__table-data 200 &#8381;/шт.
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Постановка кадрового учета (до 3 человек)
                td.table-with-notes__table-data 7000 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Каждый последующий сотрудник
                td.table-with-notes__table-data + 500 &#8381;/чел.
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Разовое возмещение сумм из ФСС
                td.table-with-notes__table-data от 1500 &#8381;
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Изготовление платежных поручений (если ведение банка не входит в стоимость обслуживания)
                td.table-with-notes__table-data 50 &#8381;/шт.
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Архивирование документов (разово)
                td.table-with-notes__table-data 200 &#8381;/папка
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Помощь в оформлении кредита (заполнение анкет, ТЭО и прочее)
                td.table-with-notes__table-data 1% от суммы кредита
              tr.table-with-notes__table-row
                td.table-with-notes__table-data.table-with-notes__table-data--thin Возмещение НДС из бюджета
                td.table-with-notes__table-data 10% от суммы возмещения

    p.price__note Цены указаны по состоянию на #[i.price__note-data 01 октября 2015 года]

block footer
  +footer(pagesList, 2)


block page-bottom
  script(src='js/script.min.js')
