extends ../pug/layout.pug

block meta
  title НордВест - Тренинги
  meta(name='description', content='')

block header
  +header(pagesList, 6)

block content
  .page-container

block footer
  +footer(pagesList, 6)
