//- В этом файле должны храниться все данные, связанные со страницей index
-
  var clientsData = {
    name: "clients",
    title: "Кому мы предоставляем услуги?",
    items: [
      "Предприятиям, уставшим от неоптыных бухгалтеров",
      "Предпринимателям, чей бюджет не позволяет иметь штатного бухгалтера",
      "Тем, кто запутался в сложной документации",
      "Тем, кто хотел бы реорганизовать и отптимизировать свою финанасовую и налоговую деятельность",
      "Тем, кто ищет новый вектор развития"
    ]
  };
-
  var servicesData = {
    name: "services",
    title: "Какие услуги мы предоставляем?",
    items: [
      "Бухгалтерское обслуживание предприятий малого и среднего бизнеса на основе аутсорсинга",
      "Восстановление бухгалтерского и налового учета",
      "Постановка бухгалтерского и налового учета предприятий",
      "Составление и сдача отчетности в налоговые органы: ПФР, ФСС РФ",
      "Составление и печать первичных документов",
      "Ведение и учет заработной платы",
      "Ведение кадрового делопроизводства",
      "Экспертиза (оценка) сосотяние бухгалтерского учета",
      "Налоговое планирование и администрирование",
      "Консультационные услуги по бухгалтерскому учету и налогообложению"
    ]
  };
