//- В этом файле должен храниться перечень страниц в виде массива объектов: содержащих название и ссылку каждой страницы
-
  var pagesList = [
    {title: "Главная", href: "index.html"},
    {title: "Прайс", href: "price.html"},
    {title: "Новости", href: "news.html"},
    {title: "О компании", href: "about.html"},
    {title: "Контакты", href: "contacts.html"},
    {title: "Центр обучения", href: "training.html"}
  ];
