mixin footer(data, current)
  footer.page-footer
    //- .page-footer__wrap
    //-   nav.page-footer__navigation
    //-     ul.page-footer__navigation-list.navigation-list.navigation-list--vertical
    //-       each item, index in data
    //-         if index !== current - 1
    //-           li
    //-             a(href=item.href)= item.title
    //-   a.page-footer__mail(href='mailto:mail@nordwest74.ru') mail@nordwest74.ru
    //-   .page-footer__telephones
    //-     a.page-footer__tel(href='tel:+73512304216') +7 (351) 230-42-16
    //-     a.page-footer__tel(href='tel:+79088209260') +7 (908) 820-92-60
    //- p.page-footer__copyright ООО “НордВест” 2007-2019
